
*{
    margin-top: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

header
{   
    margin: 0px;
    padding: 0px;
    background-image: url(fondo-header.png)
}

.titulo_ppal{
    padding: 40px;
    background-color: rgba(240, 248, 255, 0);
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.subtitulo{
    text-align: center;
}

#contenedor {
    max-width: 200px;
    background-color: #69c7ca;;
    border: solid #69c7ca;
    border-radius: 20px;
    text-align: center; 
    margin-top: 10px;
    margin-left: 10px;
}

#contenedor a
{
    text-decoration: none;
    background-color: #69c7ca;
}

#contenedor h4
{
    display: inline-block;
    margin-right: 10px;
    background-color: #69c7ca;
    border: solid #69c7ca;
}




.contenedor-main {
    margin-top: 50px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    grid-template-areas: "formulario frecuentes"
    "footer footer";
    margin: 0 auto;
    grid-gap: 200px;
    padding: 10px;
}

.formulario
{   
    padding: 10px;
    grid-area: formulario;
}

.form-controlArea
{
    height: 200px;
    width: 610px;
}

.frecuentes
{
    padding: 10px;
    box-shadow: 10px 10px 10px 10px #69c7ca;
    grid-area: frecuentes;
}

footer {
    background-color: #f8f9fa00;
    text-align: center;
    display: grid;
    
    grid-area: footer;

    
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "cupon"
     "pie";
    margin: 0 auto;
    
 
}
/* Estilo para los encabezados */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  /* Estilo para los paneles ocultos */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
.cupon{
    padding: 40px;    
    text-align: center;
    font-weight: bold;
    color: rgb(11, 10, 10);
    font-size: xx-small;
    grid-area: cupon;
    

}

.pie{
    grid-area: pie;
    align-items: center;
    margin-bottom: auto;
    
}
.pie img{
    width: 100%;
}
