*{
  margin-top: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{   
  margin: 0px;
  padding: 0px;
  background-image: url(fondo-header.png)
}

.titulo_ppal{
  padding: 40px;
  background-color: rgba(240, 248, 255, 0);
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 300%;
  text-shadow: 1px 1px 2px  rgb(200, 12, 12), 0 0 1em blue, 0 0 0.2em blue;
}

nav {
  text-align: center; 
} 

nav ul {
  display: inline-block;
  list-style-type: none; 
  padding: 0;
 
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

.sinsubrayado{
  text-decoration: none;  
  color: #060680;
  text-align: center;
  
}
.caja{
  width: 940px;
  display: inline;
  margin: 0 0 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;   
}

nav a:hover{
  color: #ab1111;
  font-size: 120%;  
}


.carousel {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
      
.carousel img {
    margin: 0 auto;
    max-width: 1200px;
    height: 300px;
    border-radius: 20px;   
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    height: 300px; 
    grid-template-areas:
      "servicios"
      "iframe"
      "whatsapp"
      "redes"
      "footer";
    }
  
  .contenedor-servicios {
    grid-area: servicios;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 300px;
    padding: 5px;
    grid-template-areas:
      "duchas corte espa ofertas";
  }
  
  .duchas {
    background-color: #4967d34d;    
    border-radius: 10px;
    grid-area: duchas;
    display: flex;
    position: relative;
    justify-content: center;
  }
  
  .corte {
    background-color: #4967d34d;    
    border-radius: 10px;
    grid-area: corte;
    display: flex;
    position: relative;
    justify-content: center;
  }
  
  .espa {
    background-color: #4967d34d;    
    border-radius: 10px;
    grid-area: espa;
    display: flex;
    position: relative;
    justify-content: center;
  }

  .ofertas {
    background-color: #4967d34d;
    border-radius: 10px;
    grid-area: ofertas;
    display: flex;
    position: relative;
    justify-content: center;
  }

  .texto{
    position: absolute;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    background-color: #1a7e8365;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;  

  }

  .contenedor-servicios a
  {
    background-color: #00000000;
  }
  
  .contenedor-servicios img {
    border: solid black;
    border-radius: 300px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    margin-top: 70px;
}
  
  .contenedor-servicios button {
    border: solid rgba(0, 0, 0, 0);
    border-radius: 300px;
    
  }

  .contenedor-servicios p
  {
    display: none;
  }

  .contenedor-servicios button:hover {

    border-radius: 10px;
    height: 100%;
    background-color: #69c7ca4d;

    .duchas p, .corte p, .espa p
    {
      font-weight: bold;
      text-align: center;
      line-height: 1.5;
      font-weight: bold;
      background-color: none;
      display: Block;
      background-color: #ffffff00;
    }

    .duchas, .corte, .espa
    {
      background-color: #ffffff00;
    }

    .duchas img, h3, .corte img, h3, .espa img, h3
    {
      display: none;
    }

  }
  .contenedor-redes{    
    text-align: center;
    
  }
  #icons img
  {
    padding: 10px;
    width: 35px;
    align-items: center;
    
  }

  .footer{
    width: 100%;
    padding: 30px;    
  } 

  #firma{
    text-align: center;
    margin-bottom: 0%;
  }

  .copyright{
    color: #000000;
    font-size: 13px;  
    margin: 0px;
}    

.contenedor-iframes {
  grid-area: iframe;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 5px;
  height: auto;
  padding: 5px;
  grid-template-areas:
                      "contenedor-s-c"
                      "mapa";
}

.contenedor-spotify-comentarios
{
  grid-area: contenedor-s-c;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
                      "spotify"
                      "comentarios";
  padding: 10px;
}

.spotify
{
  grid-area: spotify;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-areas:
                      "spotifyText spotifyIframe";
  padding: 30px;
  grid-gap:20px;
}

.spotify p, h2{
  /* Estilo del texto */
  font-family: "Helvetica Neue", sans-serif;  
  font-weight: bold;   
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px #eaeaea;
  border-radius: 10px;
  padding: 10px; 
}

.spotifyText{
  padding: 10px;
  margin-top: 0%;
  grid-area: spotifyText;
  font-size: 22px; 
}

.titulomapa{
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 2px 2px #eaeaea;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1%;
}

.spotifyIframe { 

  grid-area: spotifyIframe;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.spotifyIframe iframe
{
  box-shadow: 20px 20px 20px 20px rgba(83, 6, 199, 0.15);
}


.comentarios {
  display: grid;
  grid-template-columns: 3fr 0.5fr 3fr;
  grid-template-areas: 
    "izquierda logo derecha";
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.logo h2{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-weight: 600px;

}

.comentarios img
{
  
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.logo{
  position: relative; 
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center
}

.logo img
{    
  box-shadow: 230px 230px 230px 230px rgba(216, 32, 32, 0.15);
  width: 450px;
  height: 450px;
  opacity: 50%;
  border-radius: 40000px;
  border: solid black;
}

.contenedor-izquierda {
  grid-area: izquierda;
  display: grid;
  padding: 50px;
  grid-gap: 30px;
}

.contenedor-derecha img
{
  width: 100%;
  height: 100%;
}
.contenedor-izquierda img
{
  width: 100%;
  height: 100%;
}

.contenedor-derecha {
  grid-area: derecha;
  display: grid;
  padding: 50px;
  grid-gap: 30px;
}

.margenIZQ
{
  display: flex;
  align-items: center;
  
}

.margenEND
{
  display: flex;
  justify-content: end;
}

.margenDER
{
  display: flex;
  align-items: center;
  justify-content: center;

}

.mapa {
  grid-area: mapa;
  margin-bottom: 2%;
}

.mapa img
{
  width: 200px;
  height: 200px;
}

.mapa iframe
{
  width: 100%;
  height: 100%;
  border: none;
}