*{
    margin-top: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header{   
    margin: 0px;
    padding: 0px;
    background-image: url(fondo-header.png)
}

.titulo_ppal{
    padding: 40px;  
    background-color: rgba(240, 248, 255, 0);
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 300%;
    text-shadow: 1px 1px 2px  rgb(200, 12, 12), 0 0 1em blue, 0 0 0.2em blue;
}

nav {
    text-align: center; /* Centra el contenido horizontalmente */
} 
  
nav ul {
    display: inline-block; /* Evita que la lista ocupe todo el ancho */
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el espacio interno de la lista */
   
}
  
nav li {
    display: inline-block; /* Coloca los elementos en línea */
    margin: 0 10px; /* Agrega un margen horizontal para separar los elementos */
}
  
.sinsubrayado{
    text-decoration: none;
    color: #060680;
}
  
.caja{
    width: 940px;
    display: inline;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;   
}

nav a:hover{
    color: #ab1111;
    font-size: 120%;  
}


.contenedor-main {
    margin-top: 20px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-areas: "formulario frecuentes"
    "footer footer";
    margin: 0 auto;
    grid-gap: 50px;
    padding: 10px;
    row-gap: 0;    
}


.formulario
{   
    padding: 10px;
    grid-area: formulario;
    border-style:groove;
    justify-items: center;   
}

.subtitulo{
    color: #060680;
    text-align: center;
}

.frecuentes{
    padding: 10px;
    border-style:groove; 
    grid-area: frecuentes;
    justify-items: center;
    align-content: center;
}

.form-controlArea
{
    height: 200px;
    width: 610px;

}  
 

/* Estilo para los encabezados */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  /* Estilo para los paneles ocultos */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
.cupon{
    padding: 10px;    
    text-align: center;
    font-weight: bold;
    color: rgb(11, 10, 10);
    font-size: xx-small;
    grid-area: cupon;      

}
.footer{
    width: 100%;
    padding: 30px;    
}

.siguenos{
    text-align: center;
}

.contenedor-redes{
    text-align: center;
}

#firma{
    text-align: center;    
}

.copyright{
    color: #000000;
    font-size: 13px;  
    margin: 0px;
} 